<div class="row">
  <div *ngFor="let god of gods; let i = index" class="col-4 margin-bottom">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/gods-img/{{god.pic}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{god.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/detail/{{god.id}}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>

