<div class="row">
  <div *ngFor="let god of gods; let i = index" class="col-12 col-sm-12 col-md-4 margin-bottom">
    <div class="card">
      <img class="card-img-top" src="assets/gods-img/{{god.pic}}" alt="Card image cap">
      <div class="card-body">
        <small>{{ god.alignment }}</small>
        <h5 class="card-title">{{god.name}}</h5>
        <p class="card-text">{{ god.epithet }}</p>
        <a routerLink="/detail/{{god.id}}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>

