<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{title}}</h1>
      <small>(v 1.0)</small>
      <h2>{{subtitle}}</h2>
      <small>(and also an Angular7 exercise, but no one should care about that -- boring stuff)</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/gods">Gods</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </div>
</div>

